@import "tailwindcss";

@font-face{
  font-family: doggie;
  src: url(Doggie.otf);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #d0b8ac;
  --secondary: #f3d8c7;
  --tertiary: #efe5dc;
  --font-primary: #fbfefb;
  --font-secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-fontPrimary: var(--font-primary);
  --color-fontSecondary: var(--font-secondary);

  --font-doggie: doggie;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
/*
#hero {
  background-color: var(--primary);
  background-image: url(/stock_dog_medium.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
*/